assets/jade/basic_layout.jade
doctype html
html
   head
      title проект
      meta(charset='utf8')

      block style
         link(type='text/css', rel='stylesheet', href='css/style.css')

      block script
         //script(src='js/jQuery.js')
         script(src='js/total.js')
   body
      .container
         block top_nav
            include top_nav.jade

         block info

         block subway
            footer
               .copy &copy; 2015
               .contacts +7 912 123 45 67
               .up-bot

public/basic_layout.html
<!DOCTYPE html>
<html>
  <head>
    <title>проект</title>
    <meta charset="utf8">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <!--script(src='js/jQuery.js')-->
    <script src="js/total.js"></script>
  </head>
  <body>
    <div class="container">
      <nav><a id="back-bot" href="http://itquant.ru/cp-lessons/hw1/index.html"><=</a>
                <div class="item"><a href="page-js.html">js</a></div>
                <div class="item"><a href="page-ruby.html">Ruby</a></div>
                <div class="item"><a href="page-php.html">PHP</a></div>
                <div class="item"><a href="page-c.html">C++</a></div>
      </nav>
      <footer>
        <div class="copy">&copy; 2015</div>
        <div class="contacts">+7 912 123 45 67</div>
        <div class="up-bot"></div>
      </footer>
    </div>
  </body>
</html>
