assets/jade/index.jade
extends basic_layout.jade

block info
   .info
       #head
           h1 Исходный код
           .visual
               iframe(width="960", height="540", src="https://www.youtube.com/embed/FCZZQodXyhI", frameborder="0", allowfullscreen)
       .goods
           mixin plate(text)
               .plate= text

           .row
               +plate('SASS')
               +plate('LESS')
               +plate('STYLUS')
           .row
               +plate('GRANT')
               +plate('GULP')
               +plate('Brunch')

public/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>проект</title>
    <meta charset="utf8">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <!--script(src='js/jQuery.js')-->
    <script src="js/total.js"></script>
  </head>
  <body>
    <div class="container">
      <nav><a id="back-bot" href="http://itquant.ru/cp-lessons/hw1/index.html"><=</a>
                <div class="item"><a href="page-js.html">js</a></div>
                <div class="item"><a href="page-ruby.html">Ruby</a></div>
                <div class="item"><a href="page-php.html">PHP</a></div>
                <div class="item"><a href="page-c.html">C++</a></div>
      </nav>
      <div class="info">
        <div id="head">
          <h1>Исходный код</h1>
          <div class="visual">
            <iframe width="960" height="540" src="https://www.youtube.com/embed/FCZZQodXyhI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="goods">
          <div class="row">
                      <div class="plate">SASS</div>
                      <div class="plate">LESS</div>
                      <div class="plate">STYLUS</div>
          </div>
          <div class="row">
                      <div class="plate">GRANT</div>
                      <div class="plate">GULP</div>
                      <div class="plate">Brunch</div>
          </div>
        </div>
      </div>
      <footer>
        <div class="copy">&copy; 2015</div>
        <div class="contacts">+7 912 123 45 67</div>
        <div class="up-bot"></div>
      </footer>
    </div>
  </body>
</html>
