assets/jade/page_layout.jade
extends basic_layout.jade

block info
    .info.page
        #head
            block info_name
                h1 Внутренняя страница
            .visual
                img.big(src='img/leo.jpg', alt='не загружено')
                .gallery
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
        .about
            .text.
                Текст о товаре
            .side-fight.
                боковая колонка

public/page_layout.html
<!DOCTYPE html>
<html>
  <head>
    <title>проект</title>
    <meta charset="utf8">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <!--script(src='js/jQuery.js')-->
    <script src="js/total.js"></script>
  </head>
  <body>
    <div class="container">
      <nav><a id="back-bot" href="http://itquant.ru/cp-lessons/hw1/index.html"><=</a>
                <div class="item"><a href="page-js.html">js</a></div>
                <div class="item"><a href="page-ruby.html">Ruby</a></div>
                <div class="item"><a href="page-php.html">PHP</a></div>
                <div class="item"><a href="page-c.html">C++</a></div>
      </nav>
      <div class="info page">
        <div id="head">
          <h1>Внутренняя страница</h1>
          <div class="visual"><img src="img/leo.jpg" alt="не загружено" class="big">
            <div class="gallery"><img src="img/leo.jpg" alt="не загружено"><img src="img/leo.jpg" alt="не загружено"><img src="img/leo.jpg" alt="не загружено"><img src="img/leo.jpg" alt="не загружено"></div>
          </div>
        </div>
        <div class="about">
          <div class="text">Текст о товаре</div>
          <div class="side-fight">боковая колонка</div>
        </div>
      </div>
      <footer>
        <div class="copy">&copy; 2015</div>
        <div class="contacts">+7 912 123 45 67</div>
        <div class="up-bot"></div>
      </footer>
    </div>
  </body>
</html>
